In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
ecommerce_customers = pd.read_csv("ecommerce_customers.csv")
ecommerce_order_items = pd.read_csv("ecommerce_order_items.csv")
ecommerce_orders = pd.read_csv("ecommerce_orders.csv")
ecommerce_products = pd.read_csv("ecommerce_products.csv")
ecommerce_reviews = pd.read_csv("ecommerce_reviews.csv")
ecommerce_website_logs = pd.read_csv("ecommerce_website_logs.csv")

In [67]:
def data_profiling(df):
    print (f'\n {df.head()}')
    print('___________________________________________________________________________')
    print (f'Shape : {df.shape} ')
    print(f"Memory : {df.memory_usage(deep=True).sum() / (1024**2):.2f} MB")
    
    print('___________________________________________________________________________')
    print(' missing values \n')
    print (f' {df.isnull().sum()}')
    print('___________________________________________________________________________')
    print('data types \n')
    print (df.dtypes)
    print('___________________________________________________________________________')
    print ('unique values')
    print(f'  {df.nunique()}')
    print('___________________________________________________________________________') 
    print(f'Duplicated rows : {df.duplicated().sum()}')    
    for col in df.columns:
        dups = df[col].duplicated().sum()
        print(f"{col}: {dups} duplicates")


data_profiling(ecommerce_customers)

   customer_id first_name last_name                      email  \
0  CUST_00000   Danielle   Johnson         john21@example.net
1  CUST_00001     Joshua     Booth  helenpeterson@example.org
2  CUST_00002     Teresa      Gray        maria95@example.net
3  CUST_00003    Michael  Santiago    lynchgeorge@example.net
4  CUST_00004       Carl    Gentry        jason76@example.net

                   phone  age            city registration_date  \
0  001-581-896-0013x3890   40          Annaba        2024-03-18
1           651.216.1559   29  Sidi Bel Abb√®s        2024-06-21
2           610.934.1316   24           Batna        2023-05-09
3           527.264.8350   27           BATNA        2024-01-25
4       724.523.8849x696   37     Constantine        2024-05-23

  customer_segment  credit_score  total_spent  last_purchase_date
0         Standard         636.0      6786.35                 NaN
1         Standard         704.0     11496.74                 NaN
2         Standard         508.0      5959.11                 NaN
3         Standard         620.0     16259.63                 NaN
4         Standard         454.0      3706.01                 NaN
___________________________________________________________________________
Shape : (5250, 12)
Memory : 2.56 MB
___________________________________________________________________________
 missing values

 customer_id              0
first_name               0
last_name                0
email                  421
phone                   12
age                      0
city                     0
registration_date        0
customer_segment         0
credit_score            26
total_spent              0
last_purchase_date    5250
dtype: int64
___________________________________________________________________________
data types

customer_id            object
first_name             object
last_name              object
email                  object
phone                  object
age                     int64
city                   object
registration_date      object
customer_segment       object
credit_score          float64
total_spent           float64
last_purchase_date    float64
dtype: object
___________________________________________________________________________
unique values
  customer_id           5000
first_name             723
last_name              920
email                 4553
phone                 4988
age                     56
city                    20
registration_date     1084
customer_segment         3
credit_score           466
total_spent           4850
last_purchase_date       0
dtype: int64
___________________________________________________________________________
Duplicated rows : 250
customer_id: 250 duplicates
first_name: 4527 duplicates
last_name: 4330 duplicates
email: 696 duplicates
phone: 261 duplicates
age: 5194 duplicates
city: 5230 duplicates
registration_date: 4166 duplicates
customer_segment: 5247 duplicates
credit_score: 4783 duplicates
total_spent: 400 duplicates
last_purchase_date: 5249 duplicates